<div class="ui container">
  <div class="ui secondary pointing menu">
    <div class="left menu">
      <a routerLink="/" class="ui item">Home</a>
    </div>

    <div class="right menu">
      <ng-container *ngIf="signIn">
        <a routerLink="/inbox" class="ui item">Inbox</a>
        <a routerLink="/signout" class="ui item">Sign Out</a>
      </ng-container>
      <ng-container *ngIf="!signIn">
        <a routerLink="/" class="ui item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Sign In</a>
        <a routerLink="/signup" class="ui item" routerLinkActive="active">Sign Up</a>
      </ng-container>

    </div>
  </div>

  <router-outlet></router-outlet>
</div>