<h3>Sign In</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
    <app-input label="Username" inputType="text" [control]="authForm.get('username')"></app-input>
    <app-input label="Password" inputType="password" [control]="authForm.get('password')"></app-input>

    <div *ngIf="authForm.errors" class="ui basic red label">
        <p *ngIf="authForm.errors.credential">
            Invalid Credentials
        </p>
        <p *ngIf="authForm.errors.noConnection">
            No Internet Connection
        </p>
        <p *ngIf="authForm.errors.unknownError">
            No Internet Connection
        </p>

    </div>
    <div>
        <button class="ui button primary Submit">Submit</button>
    </div>
</form>